/* BODY TAG GLOBALS*/
body {
	width:100%;
	margin:0;
	padding:0;
	line-height: 1.2;
	background: none;
    -webkit-print-color-adjust:exact !important;	
	print-color-adjust:exact !important;
	font-size: 12pt;
	font-family: "Open Sans", "Droid Sans", Helvetica, "Helvetica Neue", Arial, sans-serif;
	color: #43556e;	
	font-weight: 400;
}

/* LINK HELPERS - SPIT OUT THE LINK */
a:link, a:visited {background: transparent; font-weight: 700; text-decoration: underline;color:#31a4ca;}
a[href^="http://"]:link:after, a[href^="http://"]:visited:after {content: " (" attr(href) ") "; font-size: 90%;}
a[href^="http://"] {color:#31a4ca;}
a[href^="#"]:after,
a[href^="javascript:"]:after {
	content: "";
}

/* HIDE UNNECESSARY ELEMENTS */
* {
	background: transparent !important;
	box-shadow: none !important;
	text-shadow: none !important;
}

/* SPIT OUT THE ABBR */
abbr[title]:after {
	content: " (" attr(title) ")";
}

/* SET DEFAULT BLOCK LEVEL FORMAT ON HTML5 TAGS */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/* PAGE MARGINS */
@page {  
	margin: 1.27cm .9525cm 1.27cm .9525cm; 
}

/* PAGE WRAPPERS AND UTILITIES */
.print {
	display: table;
	position: relative;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

article {
	margin-bottom: 2cm;
}

.page-break	{ display: block; page-break-before: always; }

.procedure { 
	margin: 0 auto;
	width: 68%;
}

.table { 
	margin: 0 auto;
	width: 100%;
}


/* TYPOGRAPHY*/
h1{font-size:19pt;}
h2{font-size:17pt;}
h3{font-size:15pt;}
h4{font-size:13pt;}
h5{font-size:12pt;}
h6{font-size:11pt;}

h1,h2,h3,h4 {
	font-weight: 600;
	margin: .5cm 0;
	page-break-before: avoid;
}


header h1 { margin-top: -.15cm; }

article h3 { 
	border-top: 1px solid #97999a; 
	border-bottom: 1px solid #97999a;
	text-align: center;
	padding: .15cm 0;
	font-weight: 600;
}

h1 strong {
	font-weight: 700;
}

p {
	margin: .075cm 0;
}

p,
h2,
h3 {
	orphans: 3;
	widows: 3;
}

h2,
h3 {
	page-break-after: avoid;
}


/* LIST ITEMS */
ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
  color: #5c5e64;
}

ol > li {
  margin: 0;
  padding: 0 0 0 2em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
}

ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: 600;
  text-align: right;
  content: counter(item) ".";
}

ol ol > li {
	list-style-type: none;
	padding: 0 0 0 2em;
}

ol ol > li:before {
	display: inline-block;
	width: 1em;
	padding-left: 2em;
	font-weight: 600;
	text-align: right;
	content: counter(item,lower-alpha) ".";
}

/* TABLES */

table {
	padding: 0;
	margin: 0 auto;
	width: 78%;
	border: none;
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	border-color: #43556e;	
}

table p {
	color: #556b83;	
}

sup {
	color: #31a4ca;
	font-weight: 600;
}

thead {
	text-align: center;
	line-height: 1.2em;
}

thead h5{
	margin: .2cm 0;
	font-weight: 600;
}

tr { page-break-inside: avoid; margin: 0;}

thead tr:first-child {
	border: 1px solid  #43556e !important;
}

tbody:before {
  content: '';
  display: block;
  height: .4cm;
}

tbody:after {
  content: '';
  display: block;
  height: .4cm;
}

tbody td {
	text-align: center;
	padding: 0;
	margin: 0;
}

tbody tr td:first-child {
	border-right: 1px solid #97999a;	
	border-left: 0px;
}

tbody tr td:last-child {
	border-left: 1px solid #97999a;	
	border-right: 0px;
}

tbody tr:nth-child(even) {
    -webkit-print-color-adjust:exact !important;	
	print-color-adjust:exact !important;	
	background-color: #dddddd !important;
}

@media all (min-width:0\0) {
	tbody tr:nth-child(even) {
		border-collapse: collapse;
		border-bottom: 1px solid #97999a;
		background-color: none !important;
	}
} 


tfoot tr {
	text-align: left;
	font-size: 11pt;
	border: 1px solid  #43556e !important;	
}

tfoot span {
	color: #31a4ca;
	font-weight: 600;
	padding-left: .05cm;
}

tfoot p {
	padding-left: .2cm;
}

/* FOOTER */
footer {
	border-top: 1px solid #97999a;
	padding-top: .4cm;	
	position: absolute;
	bottom: 0;
	display: table-footer-group;
	width: 100%;
	min-width: 100% !important;
	background: #fff !important;
}

footer small {
	font-size: 7pt;
	float: left;
}

footer img {
	margin: 0;
	border: 0;
	float: right;
}

/* IMAGES */
img {
	page-break-inside: avoid;
	page-break-before: avoid;
	page-break-after: avoid;
	margin: .75cm auto .25cm auto;
	display: block;
	max-width: 100%;
	border: 2px solid #97999a;			
}

.graphic {
	margin: 0 auto;
	width: 90%;
	page-break-inside: avoid;
	page-break-before: avoid;
	page-break-after: avoid;	
}

.zoomed {
	overflow: hidden;
	page-break-inside: avoid;
	page-break-before: avoid;
	page-break-after: avoid;	
	display: block;
	position: relative;
	width: 1000px;
	height: 1000px;
	max-width: 1000px;
	max-height: 1000px;	
	border: 2px solid #97999a;	
	border-bottom: 2px solid #97999a;
}

/* This is for demo */
.zoomed img {
	width: 1800px;
	height: 1724px;
	max-width: 1800px;	
	max-height: 1724px;	
	page-break-inside: avoid;
	page-break-before: avoid;
	page-break-after: avoid;
	border: 0px;	
}

/* CAPTIONS */
figcaption, img {
	text-align: center;
}

.zoomed figcaption {
	margin-top: -780px;
}

figcaption {
	margin: 0 0 .1cm 0;
	z-index: 9999;
	font-size: 12pt;
}